section {
            background-color: blue;
            color: #ffffff;
            text-align: center;
         }
         h1 {
            color:#ffffff;

         }
         h2 {
            color: #fc997c;
         }